---

---
<div class="err flex flex-col justify-center items-center">
    <h1 class="">404</h1>
    <h2 class="my-8">Error cannot find this page</h2>
    <a class="py-3 px-7 rounded-md" href="/">Back</a>
</div>