@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
  font-family: "Noto Sans Thai" , 'Roboto';
}
:root {
  --sl-color-accent-low: rgb(242, 242, 242);
	--sl-color-accent: rgb(237, 111, 0);
	--sl-color-accent-high: rgb(237, 111, 0);
  --sl-color-gray-6: #181818;
  --sl-color-black: #101010;
  --sl-color-white: #ffffff;
	--sl-color-gray-1: #f7e7ff;
	--sl-color-gray-2: #ffffff;
	--sl-color-gray-3: #f9f9f9;
	--sl-color-gray-4: #5b5b5b;
	--sl-color-gray-5: #303030;
  --table: rgba(170, 170, 170, 0.25);
}
/* Light mode colors. */
:root[data-theme="light"] {
  --sl-color-accent: rgb(237, 111, 0);
  --sl-color-gray-7: #ffffff;
  --sl-color-black: #ffffff;
  --sl-color-white: #000000;
  --table: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar {
  width: 10px;
  height: 0;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(237, 111, 0);
}
.sidebar-content {
  margin: 0;
  overflow-y: scroll;
}
input {
  outline: none !important;
}
select {
  outline: none !important;
  option{
    &:hover{
      background-color: orange;
    }
  }
}
.main-text {
  color: transparent !important;
  background-image: linear-gradient(
    71.78deg,
    #c23a00 27.87%,
    rgba(125, 125, 125, 0.72) 52.56%,
    #0292ba 74.58%
  );
  -webkit-background-clip: text !important;
  font-weight: 900 !important;
}

.main-h {
  font-size: 1.1em;
  margin: 0 !important;
  padding: 0;
}
.hero{
  margin-top:-40px;
}
.hero > img {
  animation: 3s intro;
  opacity: 0.9;
  filter: invert(1);
}

html[data-theme="light"] {
  .hero > img {
    filter: invert(0);
  }
  .main-text {
    background-image: linear-gradient(
      71.78deg,
      #1700c2 27.87%,
      rgb(94, 1, 94) 52.56%,
      red 74.58%
    );
    font-family: "Noto Sans Thai";
  }
}

@media screen and (max-width: 720px) {
  ::-webkit-scrollbar{
    width: 0;
  }
  .hero > img {
    margin: 30px auto;
  }
  .main-text {
    font-size: 1.2em;
  }
  .main-h {
    font-size: 1.2em;
    margin-bottom: 20px;
  }
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
  opacity: 0.5;
  overflow: hidden;
  background: linear-gradient(-90deg, var(--table) 0px, transparent 1px),
              linear-gradient(var(--table) 0px, transparent 1px);
  background-size: 32px 32px, 32px 32px;
}
::selection {
  --tw-text-opacity: 1;
  background-color: rgb(237, 111, 0);
  color: white;
}
/* Transition hero background grid smoothly to page background color. */
.hero-bg::after {
	content: '';
	position: absolute;
	inset: 70% 0 0;
	background: linear-gradient(transparent, var(--sl-color-bg));
}

@media screen and (max-width:720px) {
  .bg-grad-red{
    opacity: 0.2;
    height: 80vh;
    width: 80vw;
  }
  .bg-grad{
    opacity: 0.2;
    height: 80vh;
    width: 80vw;
  }
}
@keyframes intro {
	0% {
		scale: 1.4;
		opacity: 0;
	}

	80% {
		scale: 0.9;
	}

	100% {
	}
}
.err{
  h1{
    font-size: 5em;
  }
  a{
    color: var(--sl-color-black);
    background-color: var(--sl-color-white);
  }
}